import {{fnName}} from './{{fileName}}';

it('{{fnName}}', () => {
  const cases = [
    {inputs: [], output: 0},
    {inputs: [], output: 0}
  ];

  cases.forEach(({inputs, output}) =>expect({{fnName}}(...inputs)).toBe(output));
});
